


<div class="form-group">
   <strong> <label for="pname">Product Name</label></strong>
    <input type="text" [disabled]="!canEdit" #pname id="pname"[value]="selectedProduct.pName" class="form-control">
</div>

<div class="form-group">
   <strong> <label for="pStatus">Product Status</label></strong>
    <select name="" id="" [value]="selectedProduct.pStatus"[disabled]="!canEdit" #pstatus class="form-control"> 
        <option value="In-Progress">In Progress</option>
        <option value="Dispatched">Dispatched</option>
        <option value="Deliverd">Deliverd</option>
    </select>
</div>

<div class="text-right">
    <!-- <button class="btn btn-primary" (click)="onProductedit(pname,pstatus)">Update Product</button> -->
    <button mat-raised-button color="primary" [disabled]="!canEdit" (click)="onProductedit(pname,pstatus)">Update Product</button>
</div>