<div class="row">
    <div class="col-sm-4">
     <ul class="list-group">
        <li class="list-group-item"
        [routerLink]="['/users',user.id]"
       [queryParams]="{canEdit:user.userRole}"
        [ngClass]="{active:selecteduser.id === user.id}"  *ngFor="let user of usersInfo">
         {{user.Username}}
        </li> 
     </ul>
     <!-- <mat-list role="list">
        <mat-list-item role="listitem"  [routerLink]="['/users',user.id]"
        [ngClass]="{active:selecteduser.id === user.id}"  *ngFor="let user of usersInfo">{{user.Username}}</mat-list-item>
      </mat-list> -->
    </div>
    <div class="col-sm-8">
        <!-- <app-user></app-user> -->
    </div>
</div>
